* {
	margin: 0;
	padding: 0;
}

body {
	color: #494949;
	font-family: "Helvetica", sans-serif;
	font-weight: lighter;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 75px;
}

.wrapper .hr {
	height: 2px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 65px;
	/* margin-bottom: 32px; */
	background-color: #ffffff;
}

.wrapper .hr h1 {
	font-size: 27px;
	font-weight: lighter;
	top: -0.6em;
	position: relative;
	background-color: #4eb86d;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.wrapper .billboard {
	width: 100%;
	height: 100%;
	background-color: #4eb86d;
	display: table;
}

.wrapper .billboard:before {
	content: '';
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: 100%; 
	vertical-align: middle;
}

.wrapper .billboard .map {
	width: inherit;
	display: inline-block;
	vertical-align: middle;
}

.wrapper .billboard .map img {
	width: 40%;
	display: table-cell;
	margin: auto;
}

.wrapper .billboard .map .name {
	text-align: center;
	font-size: 80em;
	font-weight: normal;
}

.wrapper .billboard .description {
	text-align: center;
	font-size: 80%;
}

.wrapper .billboard .description p {
	font-size: 23px;
}

.wrapper .row  {
	width: 80%;
	margin: auto;
}

.wrapper .first {
	margin-top: 30px;
}

.wrapper .row .col-sm-3 {
	padding: 40px 0;
}

.wrapper .row .col-sm-3 .text {
	padding: 5px;
	font-size: 22px;
}

.wrapper .gray {
	background-color: #F6F6F6;
}

.wrapper .feature {
	width: 800px;
	margin-top: 45px;
	margin-left: auto;
	margin-right: auto;
	min-height: 265px;
}

.wrapper .row .col-md-6 h1.hook {
	color: #000;
	font-weight: normal;
	font-size: 30px;
	padding: 0 0 5px 0;
}

.wrapper .row .col-md-6 p.description {
	font-weight: lighter;
	font-size: 20px;
	margin-bottom: 5px;
}

.wrapper .row .col-md-6 .left-image {
	float: left;
	width: 40%;
	text-align: left;
}

.wrapper .row .col-md-6 .left-text {
	float: left;
	width: 60%;
	text-align: left;
}

.wrapper .row .col-md-6 .right-image {
	margin-left: 60%;
	width: 40%;
	text-align: right;
}

.wrapper .row .col-md-6 .right-text {
	margin-left: 40%;
	width: 60%;
	text-align: right;
}